<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Blood cell Detector</title>

    <style>
        *{
            font-family: arial, sans-serif;
        }
    </style>
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    

    <script>
       
        $(function () {
            $(document).on("change", ".uploadFile", function () {
                var uploadFile = $(this);
                var files = !!this.files ? this.files : [];
                if (!files.length || !window.FileReader) return; // no file selected, or no FileReader support

                if (/^image/.test(files[0].type)) { // only image file
                    var reader = new FileReader(); // instance of the FileReader
                    reader.readAsDataURL(files[0]); // read the local file

                    reader.onloadend = function () { // set image data as background of div
                        //alert(uploadFile.closest(".upimage").find('.imagePreview').length);
                        //uploadFile.closest(".imgUp").find('.imagePreview').css("background-image", "url(" + this.result + ")");
                        document.getElementById("preview").src = this.result;
                    }
                }

            });
        });
        
        document.getElementById('fileId').onchange = function(){
            alert('filer')
        }
    </script>
</head>

<body class="main-layout">
    
    <h1>Blood cell detection</h1>
    <form method="POST" action="" enctype="multipart/form-data">
        <div class="container">
            <div>
                <input type="file" class="uploadFile img" value="Upload Photo" name="image_file" accept="image/*">
            </div>
            <div>
                <img id="preview" />
            </div>
            <button type="submit">Detect</button>
        </div><!-- container -->
    </form>
</body>

</html>